.steps-container {
  margin: 0 0 20px;
  padding: 20px;
  background: #ffffff;
}

.add-ip {
  text-align: right;
}

.mgb-20 {
  margin-bottom: 20px;
}

.next-step {
  text-align: right;
}

.toggle {
  float: right;
}

.progress-list {
  .anticon {
    margin-right: 20px;
    color: #078540;
  }

  .ant-spin {
    margin-right: 20px;
  }
}
